
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: #06021d;
  --foreground: #ededed;

}
/* 
@media (prefers-color-scheme: dark) {
  :root {
      --background: #06021d;
      --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;  
  overflow-x: hidden;

}


#mobilemenu {
  z-index: 1;
  position: absolute;
  top: 42px;
  height: fit-content
}


